@font-face {
    font-family: gotham_rounded_medium;
    src: url(GothamRnd-Medium.otf);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 18px;
    font-family: gotham_rounded_medium, sans-serif;
    overflow-x: hidden;
    background-color: white;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #007AC9;
    border: 1px solid #888888;
    height: 44px;
    padding: 0 26px;
    border-radius: 25px;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: -0.5px;
    font-weight: 350;
}

button:hover {
    color: #000000;
}

input {
    font-family: inherit;
    font-size: inherit;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 0 0.25em;
}

input[type="checkbox"] {
    background: #FFFFFF;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin: 0;
}

hr {
    border-top: 1px solid black;
    border-bottom: none;
}

.App {
    width: 100%;
    height: 100%;
}

.App--busy {
    cursor: progress;
}
.App--busy button {
    cursor: progress;
}

.App__settings {
    position: absolute;
    width: 100%;
    height: 100%;
}

.App__open-settings {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    background-image: url('Settings.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .8rem;
}

.App__open-settings:hover {
    cursor: pointer;
}

.App__settings-disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(1);
    background-color:#d0d0d0;
    background-blend-mode: darken;
    cursor: default;
}

.App__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    background-color: #007AC9;
    background-image: url('pylvasdiagrammi_valkoinen.png'), url('hsl_logo_valkoinen.png');
    background-size: 41px 41px, 102px 41px;
    background-position: left 15px center, right 15px center;
    background-repeat: no-repeat, no-repeat;
    color: #ffffff;
    font-size: 24px;
    padding: 0 0 0 85px;
    font-weight: normal;
    letter-spacing: -0.02em;
}

.App__header-version {
    font-size: 60%;
}

.App__body {
    height: 920px;
    margin-top: -20px;
}

.header-documentation-link {
    margin-right: .8rem;
    background-color: #ffffff;
    color: #007AC9;
    width: 42px;
    height: 42px;
    border-radius: .8rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.header-documentation-link:hover {
    cursor: pointer;
}

.App__header-button-container {
    top: 100px;
    right: 50px;
    position: absolute;
    align-self: center;
    align-items: center;
    display: flex;
}