body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #fafafa;
    font-size: 0.85em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.busy {
    cursor: progress;
}

.App {
}

.App__settings-overlay {
    display: none;
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    opacity: 0.25;
}

.App__settings-dialog {
    display: none;
    z-index: 1000;
    position: absolute;
    left: 16%;
    top: 10%;
    width: 66%;
    padding: 1.5em;
    margin-top: 5%;
    background-color: #fafafa;
    border: 2px solid silver;
}

.App__settings-dialog-heading {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding: 0 0 5px 0;
    font-weight: normal;
    border-bottom: 1px solid silver;
}

.App__settings-pseudo-label {
    display: block;
    line-height: 1.75em;
    vertical-align: middle;
}

.App__settings-pseudo-file-select {
    display: block;
    width: 14em;
    line-height: 1.75em;
    padding: 0 0.25em;
    background: #f5f5f5;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.App__settings-hidden-input {
    display: none;
}

.App__settings-dialog-controls {
    float: right;
    margin: 0;
    padding: 0;
}

.App__open-settings-btn {
    float: right;
}

.App__header {
    font-size: 2em;
    margin: 0 0 1em 0;
    padding: 0 0 5px 0;
    font-weight: normal;
    border-bottom: 1px solid silver;
}

.App__header-version {
    font-size: 40%;
}