.RunConfiguration {
    width: 24em;
    padding-left: 0.75em;
}

.RunConfiguration__heading {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    font-weight: normal;
}

.RunConfiguration__saved-scenarios {
    display: table;
}

.RunConfiguration__scenario {
    display: table-row;
}

.RunConfiguration__scenario-run-btn,
.RunConfiguration__scenario-name-config-btn {
    display: table-cell;
    margin: 0.25em;
    line-height: 1.75em;
}

.RunConfiguration__scenario-run-btn--active {
    background: mediumseagreen;
}

.RunConfiguration__scenario-name-config-btn--active {
    background: lightslategrey;
}

.RunConfiguration__separator {
    margin: 1em 0 0 0;
}

.RunConfiguration__start-stop-controls {
}

.RunConfiguration__start-stop-description {
}

.RunConfiguration__run-status-percentage-ready {
    margin: 1em 0;
    border: 1px solid silver;
    padding: 4px;
}

.RunConfiguration__run-status-scenario-ready {
}

.RunConfiguration__run-status-logfile-link {
}

.RunConfiguration__start-stop-scenarios {
    color: mediumseagreen;
    font-weight: bold;
}

.RunConfiguration__start-stop-btn {
}