.Project {
    position: relative;
}
 /*
.Project__runtime {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
 */
.Project__selected-details {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0;
    margin: 130px 20px 0px 820px;
}
.HelmetProject__control-group-separator {
}
