.Project {
    position: relative;
}
 /*
.Project__runtime {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
 */
.Project__selected-details {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 40vw;
}
.HelmetProject__control-group-separator {
}