.Settings {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Settings__overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.4);
}

.Settings__dialog {
    z-index: 200;  /* Higher than overlay */
    width: 520px;
    padding: 40px 60px;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Settings__dialog-heading {
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.6px;
    color: #333333;
    order: 0;
    margin-bottom: 10px;
}

.Settings__dialog-input-group {
}

.Settings__pseudo-label {
    display: block;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-top: 10px;
}

.Settings__pseudo-file-select {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-top: 4px;
    background: #ffffff;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 325;
    color: #333333;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Settings__hidden-input {
    display: none;
}

.Settings__dialog-controls {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #007AC9;
    font-size: 15px;
    min-width: 30px;
    padding: 20px;
    border: 0;
}

.Settings__input-btn {
    display: block;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
