.Log {
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    height: 850px;
}

.Log__heading {
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.6px;
    color: #333333;
    margin-bottom: 10px;
}

.Log__header {
    text-align: right;
    margin-bottom: 10px;
}

.Log__close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 350;
    letter-spacing: -0.5px;
}

.Log__header-controls {
    display: flex;
    justify-content: space-between;
}

.Log__header-control {
    margin-right: 10px;
    width: 100%;
}
.Log__header-control--on {
    background-color: #007AC9;
    color: #ffffff;
    border-color: #007AC9;
}

.Log__jeejee {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.Log__entries {
    white-space: pre;
    font-style: normal;
    font-weight: 325;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.Log__entry {
    color: #333333;
}

.Log__entry--ui {
}

.Log__entry--error {
    color: #DC0451;
}
