.Runtime { 
}

/* Helmet project */

.Runtime__helmet-project-controls {
    padding: 20px;
}

.Runtime__heading {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.Runtime__project-path {
    font-style: normal;
    font-weight: 325;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.Runtime__reload-scenarios-btn {
}

/* Scenarios */

.Runtime__scenarios-controls {
    background: #F4F4F5;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 20px;
}

.Runtime__scenarios-heading {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.Runtime__scenarios {
    max-height: 160px;
    overflow-y: auto;
}

.Runtime__scenario {
    margin: 6px 0 6px 0;
}

.Runtime__scenario-name {
    display: inline-block;
    padding: 8px 0;
    width: 120px;
    overflow: hidden;
}

.Runtime__scenario-activate-btn {
    margin-right: 14px;
    vertical-align: top;
}
.Runtime__scenario-activate-btn--active {
    background-color: #00985F;
    color: #ffffff;
    border: none;
}

.Runtime__scenario-open-config-btn {
    margin-right: 14px;
    white-space: pre;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}
.Runtime__scenario-open-config-btn--active {
    background-color: #007AC9;
    color: #ffffff;
    border: none;
}

.Runtime__scenario-delete-btn {
    background: #F4DEEA;
    vertical-align: top;
}

.Runtime__scenarios-footer {
    padding-top: 12px;
}

.Runtime__add-new-scenario-btn {
}

/* Start-stop */

.Runtime__start-stop-controls {
    padding: 20px;
}

.Runtime__start-stop-description {
}

.Runtime__start-stop-scenarios {
    color: #00985F;
    font-weight: bold;
}

.Runtime__start-stop-btn {
}
