.Runtime {
    width: 25em;
    padding-left: 0.75em;
}

.Runtime__heading {
    font-size: 1.25em;
    margin: 0 0 1em 0;
    font-weight: normal;
}

.Runtime__project-path {
    font-size: 1em;
    margin: 0 0 1em 0;
    font-weight: normal;
    font-style: italic;
}

.Runtime__reload-scenarios-btn {
}

.Runtime__scenarios {
}

.Runtime__scenario {
}

.Runtime__scenario-name {
    margin: 0.25em;
    line-height: 1.75em;
}

.Runtime__scenario-activate-btn {
    margin: 0.25em;
    line-height: 1.75em;
}
.Runtime__scenario-activate-btn--active {
    background: mediumseagreen;
}

.Runtime__scenario-open-config-btn {
    margin: 0.25em;
    line-height: 1.75em;
    max-width: 15em;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Runtime__scenario-open-config-btn--active {
    background: lightslategrey;
}

.Runtime__scenario-delete-btn {
    line-height: 0.75em;
    background: #ffd2da;
    vertical-align: super;
    padding: 0.15em;
}

.Runtime__scenarios-footer {
}

.Runtime__add-new-scenario-btn {
}

.Runtime__control-group-separator {
    margin: 1em 0 0 0;
}

.Runtime__start-stop-controls {
}

.Runtime__start-stop-description {
}

.Runtime__start-stop-scenarios {
    color: mediumseagreen;
    font-weight: bold;
}

.Runtime__start-stop-btn {
}
