.Scenario {
    padding: 1em 0.75em 0 0.75em;
    margin: 50px 150px 10px 10px;
    background-color: #EEF1F3;
    border-radius: 3px;
}

.Scenario__section {
    padding-bottom: 1.25em;
}
.Scenario__section--indentation {
    padding-left: 22px;
    padding-top: 0.5em;
}

.Scenario__close-btn {
    float: right;
    min-width: 0px;
    width: auto;
    heigth: auto;
    color: #DC0451;
    border-radius: 3px;
    font-size: 15px;
}

/* Labels */
.Scenario__pseudo-label {
    display: block;
    line-height: 1.75em;
    vertical-align: middle;
}
.Scenario__pseudo-label--inline {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.75em;
}
.Scenario__pseudo-label--right {
    padding-left: 2em;
}
.Scenario__pseudo-label--inline input {
    display: block;
    float: left;
}
.Scenario__pseudo-label--inline span {
    display: block;
    padding-left: 22px;
}

/* Titles */
.Scenario__title {
    font-weight: bold;
}

/* Inputs */
.Scenario__name-label {
    display: block;
    margin: 0 auto;
    line-height: 1.75em;
}
.Scenario__name {
    display: block;
    width: 14em;
    line-height: 1.75em;
}
.Scenario__name-error {
    display: table;
    margin: 0 auto;
    color: #801a00;
    font-size: 0.95em;
    font-style: italic;
    line-height: 1.5em;
}
.Scenario__number {
    display: inline-block;
    width: 5em;
    line-height: 1.75em;
}

.Scenario__pseudo-file-select {
    display: block;
    width: 14em;
    line-height: 1.75em;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 0 0.25em;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Scenario__hidden-input {
    display: none;
}

.Scenario__radio-input {
    margin-right: 2em;
}
