.Scenario {
    padding: 40px 60px;
    margin: 0 23px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Scenario__section {
}

.Scenario__heading {
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.6px;
    color: #333333;
    order: 0;
    margin-bottom: 10px;
}

.Scenario__title {
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #333333;
    order: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Scenario__section--indentation {
    padding-left: 44px;
    padding-top: 4px;
}

.Scenario__close {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 17px;
    right: 22px;
    background-color: #ffffff;
    background-image: url('../../close-large.png');
    background-repeat: no-repeat;
}

/* Labels */
.Scenario__pseudo-label {
    display: block;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-top: 10px;
}
.Scenario__pseudo-label--inline {
    display: inline-block;
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #333333;
}
.Scenario__pseudo-label--inline input {
    display: block;
    float: left;
}
.Scenario__pseudo-label--inline span {
    padding-left: 14px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
span.Scenario__inline {
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
}
.Scenario__pseudo-label--right {
    display: block;
}
.Scenario__inline {
    display: inline-block !important;
}

/* Inputs */
.Scenario__pseudo-file-select, .Scenario__name, .Scenario__number {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-top: 4px;
    margin-right: 20px;
    height: 44px;
    background: #ffffff;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 325;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Scenario__number {
    width: 156px;
}

.Scenario__name-error {
    display: table;
    margin: 0 auto;
    color: #801a00;
    font-size: 0.95em;
    font-style: italic;
    line-height: 1.5em;
}

.Scenario__hidden-input {
    display: none;
}

.Scenario__radio-input {
    margin-right: 2em;
}

.override-input {
    visibility: hidden;
}

.override-setting {
    margin-left: 5rem;
}

.override-file-select-input {
    width: 500px;
}