.Scenario {
    padding: 1em 0.75em 0 0.75em;
    background-color: #007AC9;
}

.Scenario__section {
    padding-bottom: 1.25em;
}

.Scenario__close-btn {
    float: right;
    line-height: 1.25em;
    color: #ffffff;
    font-size: 2em;
    background: none;
    border: none;
}
.Scenario__close-btn:hover {
    color: #000000;
}

/* Labels */
.Scenario__pseudo-label {
    display: block;
    line-height: 1.75em;
    vertical-align: middle;
}
.Scenario__pseudo-label--inline {
    display: inline-block;
    vertical-align: initial;
    padding-right: 0.75em;
}

/* Inputs */
.Scenario__name-label {
    display: table;
    margin: 0 auto;
    line-height: 1.75em;
}
.Scenario__name {
    border-top: none;
    border-left: none;
    border-right: none;
    display: table;
    margin: 0 auto;
    line-height: 1.75em;
}
.Scenario__name-error {
    display: table;
    margin: 0 auto;
    color: #801a00;
    font-size: 0.95em;
    font-style: italic;
    line-height: 1.5em;
}

.Scenario__pseudo-file-select {
    display: block;
    width: 14em;
    line-height: 1.75em;
    padding: 0 0.25em;
    background: #f5f5f5;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Scenario__hidden-input {
    display: none;
}

.Scenario__radio-input {
    margin-right: 2em;
}
