.Status {
}

.Status__readiness {
    display: flex;
    align-items: center;
    width: 579px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px 0;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    letter-spacing: -0.5px;
    padding-left: 9px;
}

.Status__finished-scenario {
}

.Status__finished-scenario-logfile-link {
}
