.Status {
}

.Status__readiness {
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px 0 1rem 0;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    letter-spacing: -0.5px;
    padding-left: 9px;
}

.runtime-chart {
    width: 800px;
}

.Status__finished-scenario {
}

.Status__finished-scenario-logfile-link {
    background-color: #007AC9;
    display: inline;
    color: white;
    width: 8rem;
}

.Status__finished-scenario-logfile-link:hover {
    background-color: #0068ab !important;
    color: white !important;
}
