.CBA {
    padding-left: 10px;
    background-image: url('pylvasdiagrammi_sininen.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
}

.CBA__heading {
    font-size: 1.25em;
    margin: 10px 0 20px 60px;
    padding-top: 30px;
    font-weight: normal;
}

.CBA__choices {
    background-color: #EEF1F3;
}

.CBA__pseudo-label {
    display: block;
    line-height: 1.75em;
    vertical-align: middle;
}

.CBA__pseudo-file-select {
    display: block;
    width: 14em;
    line-height: 1.75em;
    padding: 0 0.25em;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CBA__hidden-input {
    display: none;
}

.CBA__radio-label {
    margin: 0;
    padding: 0;
}

.CBA__run {
    padding-top: 12px;
}