.CBA {
    background: #F4F4F5;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

.CBA__heading {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.CBA__choices {
}

.CBA__pseudo-label {
    display: block;
    line-height: 1.75em;
    vertical-align: middle;
}

.CBA__pseudo-file-select {
    display: block;
    width: 14em;
    line-height: 1.75em;
    margin-bottom: 6px;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    cursor: pointer;
    /* Overflowing file/dir names show as "First part..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CBA__hidden-input {
    display: none;
}

.CBA__radio-label {
    margin: 0;
    padding: 0;
}

.CBA__run {
}