body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #fafafa;
    font-size: 0.85em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.busy {
    cursor: progress;
}

h1, h2 {
    border-bottom: 1px solid silver;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1em 0;
    padding: 0 0 5px 0;
    font-weight: normal;
}

div {
    margin: 0 0 1.25em 0;
}

input[type=file] {
    display: none;
}

label, .label {
    min-width: 10em;
    display: inline-block;
    line-height: 1.75em;
    display: inline-block;
    vertical-align: middle;
}

input, .file-select, #runStopButton {
    margin: 0;
    width: 14em;
    line-height: 1.75em;
    padding: 0 0.25em 0 0.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label.file-select {
    margin: 0;
    cursor: pointer;
    background: #f1f1f1;
    display: inline-block;
    border: 1px solid #c0c0c0;
}

dialog {
    width: 66%;
    padding: 1.5em;
    z-index: 1000;
    margin-top: 5%;
    background-color: inherit;
    border: 2px solid silver;
}

#header, #contents {
    position: relative;
}

#contents {
    margin: 0;
    padding: 1.5em;
}

#header-button {
    position: absolute;
    bottom: 8px;
    right: 2px;
    margin: 0;
    padding: 0;
}

#version {
    font-size: 40%;
}

#shader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-color: black;
    opacity: 0.25;
}

#dialog-controls {
    float: right;
    margin: 0;
    padding: 0;
}

#control-panel, #status-panel {
    width: 49.5%;
    height: 33%;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    vertical-align: top;
}

#status-panel {
    visibility: hidden;
}

#progressbar {
    width: 100%;
    height: 10px;
    border: 0;
    padding: 0;
    margin: 1em 0 1em 0;
    position: relative;
    border: 1px solid silver;
    background-color: white;
}

#progressbar .percentage {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    background-color: lightseagreen;
    height: 10px;
    width: 0;
    max-width: 100%;
}

#results-panel {
    margin: 0;
    padding: 0;
}
#message, #results {
    padding: 0.2em;
    overflow-y: auto;
    background-color: white;
    border: 1px solid silver;
}

#message {
    height: 4.8em;
}

.error {
    color: red;
}

#results {
    padding: 0.5em;
    height: 35%;
    margin: 0;
}

#results p {
    margin: 0 0 0.5em 0;
}
