#results-panel {
    margin: 0;
    padding: 0;
}
#message, #results {
    padding: 0.2em;
    overflow-y: auto;
    background-color: white;
    border: 1px solid silver;
}

#message {
    height: 4.8em;
}

.error {
    color: red;
}

#results {
    padding: 0.5em;
    height: 35%;
    margin: 0;
}

#results p {
    margin: 0 0 0.5em 0;
}